.container {
    height: 300px;
    width: 200px;
    background-color: #fff;
    position: absolute;
    top: 60px;
    right: 0px;
    
}

.container ul {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
   
    gap: 10px;
}
.container li {
    list-style-type: none;
    margin-left: 0px;
    cursor: pointer;
    border-bottom: 1px solid black;
    padding-left: 10px;
   
}
.container li:hover {
  background-color: rgba(228, 228, 228, 0.736);
  border-radius: 5px;

}