.btn {
    background-color: green;
    padding: 10px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    border-radius: 5px;
    color: white;
    position: absolute;
    /* bottom: 10px; */
    left: calc(50% - 50px) ;
    cursor: pointer;
}