.container {
width: 100%;
height: calc(100vh - 65px);
margin-top: 65px;
padding-top:20px ;
background-color: antiquewhite;
}
.personalInfo {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.976);
    height: 95%;
    margin-left: 25px;
    margin-right: 25px;
    color: rgb(25, 28, 30);
    border-left: 3px solid green;
    border-right: 3px solid green;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.289), 0 6px 20px 0 rgba(0, 0, 0, 0.494);
    display: flex;
    justify-content: space-around;

}
.image {
    width: 30%;
    margin-left: 15px;
    border-radius: 50%;
    border: 2px solid green;
}

.genInfo {
    margin-left: 25px;
}

.middleSide img {
  width: 30%;
}